{% extends 'galery/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}
{% block title_main %}{{ category_name }}{% endblock title_main %}

{% block body_block %}
    {% if categories %}
        {% if galeries %}
                {% for photo in galeries %}
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb thumbSlides">
                        <a class="thumbnail" href="{% url 'galery:photo' photo.category.slug photo.slug %}">
                                <img class="img-responsive" style="width:260px; height: 180px;" src="{{photo.image.url}}" alt="">
                        </a>
                        <p>{{ photo.title }}</p>
                    </div>
                {% endfor %}
        {% else %}
                <strong>No pages currently in category.</strong>
        {% endif %}

    {% endif %}

{% endblock %}
