{% extends 'galery/base.html' %}

<title>{% block head_title %}Gallery{% endblock head_title %}</title>

{% block body_block %}

       {% for galery in galeries %}
	        <div class="col-sm-4 col-md-4">
	            <a class="thumbnail" href="{% url 'galery:photo' galery.category.slug galery.slug %}">
	                <img class="img-responsive" style="width:380px; height:285px;" src="{{galery.image.url}}" alt="">
	            </a>
	            <!-- <p>{{ galery.title }}</p>
	            <p><a href="{% url 'galery:photo' galery.category.slug galery.slug %}">{{ galery.category}}</a></p> -->
	        </div>

	      
	    {% endfor %}    

{% endblock %}